<div class="ui grid" id="main-content">
  <div class="fourteen wide centered column">
    <div class="ui grid">
      <div class="six wide column">
        <div class="row">
          <div class="ui segment">
            
            {{ui-dropdown
                content=hours
                value=timeSearch
                prompt=currentHour
            }}
            {{ui-dropdown
                content=timeOfDay
                value=timeOfDaySearch
                prompt=currentTimeOfDay
            }}
            {{ui-dropdown
                content=days
                value=daySearch
                prompt=currentDay
            }}
          </div>
          <button {{action "truckSearch"}} class="ui teal button">Search</button>
          {{#link-to 'new'}}
            <button class="ui blue button">Add a truck</button>
          {{/link-to}}
        </div>

        <div class="ui divided list">
          {{#each truck in ourTrucks}}
            <div class="item">
              <i class="map marker icon"></i>
              <div class="content">
                <a class="active blue header"target="_blank" {{bind-attr href=truck.link}}>{{truck.name}}</a>
                <div class="description">{{truck.description}}</div>
                <div class="description">{{truck.startTime}} - {{truck.endTime}}</div>
              </div>
            </div>
          {{/each}}
          {{#each truck in trucks}}
            <div class="item">
              <i class="map marker icon"></i>
              <div class="content">
                <a class="active blue header"target="_blank" {{bind-attr href=truck.link}}>{{truck.name}}</a>
                <div class="description">{{truck.description}}</div>
                <div class="description">{{truck.startTime}} - {{truck.endTime}}</div>
              </div>
            </div>
          {{/each}}
      </div>

      </div>
      
      <div class="eight wide column" id="map-canvas">

      </div>
    </div>
  </div>
  
</div>