<div class="ui grid" id="main-content">
  <div class="fourteen wide centered column">
    <div class="ui grid">
      <div class="four wide column">
        {{ui-dropdown
            content=hours
            value=timeSearch
            prompt=currentHour
        }}
        {{ui-dropdown
            content=timeOfDay
            value=timeOfDaySearch
            prompt="PM"
        }}
        {{ui-dropdown
            content=days
            value=daySearch
            prompt=currentDay
        }}
        <button {{action "truckSearch"}}>Search</button>

        {{#each truck in trucks}}
          <a target="_blank" {{bind-attr href=currentDay}}>{{truck.applicant}}</a>
          <p>
            {{truck.applicant}}
          </p>
            <p>
            {{truck.optionaltext}}
            {{truck.start24}}
            {{truck.end24}}
          </p>
        {{/each}}
      </div>
      
      <div class="ten wide column">
        <div id='map'></div>
      </div>
    </div>
  </div>
  
</div>


